---
/**
 *	Demo 演示页面
 *
 * ------------------------------------------------------------
 *
 * 	Copyright © 2024 湖南大沥网络科技有限公司.
 *
 * 	  author:	木炭(WOODCOAL)
 * 	   email:	i@woodcoal.cn
 * 	homepage:	http://www.hunandali.com/
 *
 * ------------------------------------------------------------
 */

import EMPTY, { type Props as ILayout } from './Empty.astro';
import LAYOUT from './PageLayout.astro';
import HEADER, { type Props as IHeader } from './PageHeader.astro';
import FOOTER from './PageFooter.astro';

import THEME from '../layouts/PageTheme.astro';
import ABOUT from '../customs/About.astro';
import Icon from '../components/Icon.astro';

// import ABOUT from './components/About.astro';
interface Props extends ILayout, IHeader {}

const props = Astro.props;
---

<EMPTY {...props}>
	<LAYOUT>
		<slot slot="header" name="header">
			<HEADER {...props}>
				<THEME />
			</HEADER>
		</slot>
		<slot slot="footer" name="footer">
			<FOOTER>
				<span slot="links">
					Made with <Icon icon="ri:hearts-fill" theme="danger" /> in China.
				</span>
			</FOOTER>
		</slot>
		<slot />
	</LAYOUT>
</EMPTY>

<script>
	const themeSwitch = document.getElementById('themeSwitch') as HTMLInputElement;
	if (themeSwitch) {
		themeSwitch.addEventListener('change', () => {
			if (themeSwitch.checked) {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark');
			}

			// 写入 Cookie
			const expires = new Date();
			expires.setFullYear(expires.getFullYear() + 1);
			document.cookie = `theme=${themeSwitch.checked ? 'dark' : 'light'}; expires=${expires.toUTCString()}; path=/`;
		});
	}
</script>
