---
/**
 *	Demo 演示页面
 *
 * ------------------------------------------------------------
 *
 * 	Copyright © 2024 湖南大沥网络科技有限公司.
 *
 * 	  author:	木炭(WOODCOAL)
 * 	   email:	i@woodcoal.cn
 * 	homepage:	http://www.hunandali.com/
 *
 * ------------------------------------------------------------
 */

import EMPTY, { type Props as ILayout } from './Empty.astro';
import FOOTER from './PageFooter.astro';
import HEADER, { type Props as IHeader } from './PageHeader.astro';
import LAYOUT from './PageLayout.astro';

import Icon from '../components/Icon.astro';
import THEME from '../layouts/PageTheme.astro';

import Navbar from '../components/Navbar/index.astro';

interface Props extends ILayout, IHeader {}

const props = Astro.props;

import navbar from '../_data/_navbar';
import footer from '../_data/_footer';
---

<EMPTY {...props}>
	<LAYOUT>
		<Navbar {...navbar as any} slot="top">
			<div class="nav-item"><THEME mode="icon" /></div>
		</Navbar>

		<slot slot="header" name="header">
			<HEADER {...props} />
		</slot>
		<FOOTER links={footer} slot="footer">
			<span slot="linkSuffix">
				Made with <Icon icon="ri:hearts-fill" theme="danger" /> in China.
			</span>
		</FOOTER>
		<slot />
	</LAYOUT>
</EMPTY>
