---
/**
 *	Demo 演示页面
 *
 * ------------------------------------------------------------
 *
 * 	Copyright © 2024 湖南大沥网络科技有限公司.
 *
 * 	  author:	木炭(WOODCOAL)
 * 	   email:	i@woodcoal.cn
 * 	homepage:	http://www.hunandali.com/
 *
 * ------------------------------------------------------------
 */

import EMPTY, { type Props as ILayout } from './Empty.astro';
import FOOTER from './PageFooter.astro';
import HEADER, { type Props as IHeader } from './PageHeader.astro';
import LAYOUT from './PageLayout.astro';

import Icon from '../components/Icon.astro';
import THEME from '../layouts/PageTheme.astro';

// import ABOUT from './components/About.astro';
interface Props extends ILayout, IHeader {}

const props = Astro.props;
---

<EMPTY {...props}>
	<LAYOUT>
		<slot slot="header" name="header">
			<HEADER {...props}>
				<THEME />
				<THEME mode="icon" />
			</HEADER>
		</slot>
		<slot slot="footer" name="footer">
			<FOOTER>
				<span slot="links">
					Made with <Icon icon="ri:hearts-fill" theme="danger" /> in China.
				</span>
			</FOOTER>
		</slot>
		<slot />
	</LAYOUT>
</EMPTY>
