---
/**
 *	Empty 空白模板（基础页面框架） *
 *
 * ------------------------------------------------------------
 *
 * 	Copyright © 2024 湖南大沥网络科技有限公司.
 *
 * 	  author:	木炭(WOODCOAL)
 * 	   email:	i@woodcoal.cn
 * 	homepage:	http://www.hunandali.com/
 *
 * ------------------------------------------------------------
 */

import Head, { type Props as IHead } from './Head.astro';
import type { IPropsBase } from '../types';
import { PropsUpdate } from '../libs';

export interface Props extends IHead, IPropsBase {}
const [propsBody, propsHead] = PropsUpdate(Astro.props);
---

<!doctype html>
<html lang="zh">
	<Head {...propsHead as IHead} />
	<body {...propsBody}><slot /></body>
</html>
