---
/**
 *	LayoutVertical 左侧竖直菜单模板
 *
 * ------------------------------------------------------------
 *
 * 	Copyright © 2024 湖南大沥网络科技有限公司.
 *
 * 	  author:	木炭(WOODCOAL)
 * 	   email:	i@woodcoal.cn
 * 	homepage:	http://www.hunandali.com/
 *
 * ------------------------------------------------------------
 */

import LayoutBase, { type Props as ILayout } from './LayoutBase.astro';
import Layout from './PageLayout.astro';
import Header, { type Props as IHeader } from './PageHeader.astro';
import Footer from './PageFooter.astro';
import Icon from '../components/Icon.astro';
import type { ILink, ISize, IThemeFull } from '../types';
import Navbar from '../components/Navbar/index.astro';
import type { NavbarItem } from '../components/Navbar/menus.astro';
import PageTheme from './PageTheme.astro';
import type { Dict } from '@da.li/core-libs';

export interface Props extends ILayout, IHeader {
	/** 导航栏品牌/标题 */
	brand?: ILink;

	/** 导航菜单 */
	menus?: NavbarItem[];

	/** 移动菜单模式：ture 左侧滑出，false 顶部弹出 */
	mobileAppMenu?: boolean;

	/** 导航栏颜色主题 */
	theme?: IThemeFull;

	/** 是否整个页面宽度 */
	size?: ISize | 'xxl' | 'fluid' | 'auto';

	/** 布局类型 */
	layout?: 'horizontal' | 'vertical';

	/** 页脚链接 */
	footerLinks?: ILink[];

	/**
	 * 页面常用布局模式。参数优先级最高，影响导航栏、页脚、内容等布局。
	 *
	 * - `vertical` 左侧菜单，内容固定 https://preview.tabler.io/layout-vertical.html
	 *
	 */
	mode?: 'vertical' | 'fluid-vertical' | 'transparent-vertical' | 'navbar-overlap' | 'boxed';
}

const {
	brand,
	menus,
	theme,
	size = 'lg',
	layout,
	mode = '',
	mobileAppMenu = false,
	footerLinks,
	...props
} = Astro.props;

const pageSize = mode.startsWith('fluid') ? 'fluid' : size;

/** 页面宽度布局 */
const containerClass = pageSize && pageSize !== 'auto' ? `container-${pageSize}` : 'container';

/** 导航属性 */
const navProps = { brand, items: menus, theme, layout, size, transparent: false, mobileAppMenu };
const headerProps = { ...props, size, overlayer: false } as Dict;
const layoutProps = { size: pageSize, class: '' };
const pageProps = { ...props, class: '' };

if (mode.endsWith('vertical')) {
	navProps.layout = 'vertical';
	navProps.theme = 'dark';
	navProps.size = pageSize;
	navProps.mobileAppMenu = true;
} else if (mode === 'navbar-overlap') {
	navProps.layout = 'horizontal';
	navProps.theme = 'dark';
	navProps.size = pageSize;
	navProps.mobileAppMenu = true;

	headerProps.overlayer = 'fixed';
	headerProps.theme = 'dark';
} else if (mode === 'boxed') {
	navProps.layout = 'multiple' as any;
	navProps.mobileAppMenu = true;
	layoutProps.class = 'container-lg';
	pageProps.class = 'boxed';
} else {
	// 默认

	navProps.layout = 'multiple' as any;
	navProps.mobileAppMenu = false;
}

mode.startsWith('transparent') && (navProps.transparent = true);
---

<LayoutBase {...pageProps} }>
	<Layout {...layoutProps}>
		<!-- 头部 -->
		<slot slot="top" name="top">
			<Navbar {...navProps} expand="lg">
				<slot name="navMenu" slot="nav" />
				<slot name="navAction">
					<PageTheme mode="icon" />
				</slot>
			</Navbar>
		</slot>

		<!-- 警告 -->
		<div class="bg-secondary-lt" slot="header">
			<div class={containerClass}>
				<div class="alert-container"></div>
			</div>
		</div>

		<!-- 页眉 -->
		<slot slot="header" name="header">
			<Header {...headerProps as any} />
		</slot>

		<!-- 内容 -->
		<slot />

		<!-- 页脚 -->
		<slot name="footer" slot="footer">
			<Footer links={footerLinks} size={pageSize} transparent>
				<span slot="linkSuffix">
					Made with <Icon icon="ri:hearts-fill" theme="danger" /> in China.
				</span>
			</Footer>
		</slot>

		<!-- 底部 -->
		<slot slot="bottom" name="bottom" />
	</Layout>
</LayoutBase>

<style lang="less" is:global>
	body.boxed {
		background: #1f2937 linear-gradient(to right, rgba(255, 255, 255, 0.1), transparent) fixed;

		.page {
			background-color: var(--tblr-body-bg);
			padding: 0;

			.navbar {
				border-radius: var(--tblr-border-radius) var(--tblr-border-radius) 0 0;
			}

			@media screen and (min-width: 992px) {
				border-radius: var(--tblr-border-radius);
			}
		}
	}

	@media (min-width: 768px) {
		.navbar-expand-md {
			flex-wrap: nowrap;
			justify-content: flex-start;
		}
	}
</style>
