---
/**
 *	LayoutBase 空白模板（基础页面框架）
 *
 * ------------------------------------------------------------
 *
 * 	Copyright © 2024 湖南大沥网络科技有限公司.
 *
 * 	  author:	木炭(WOODCOAL)
 * 	   email:	i@woodcoal.cn
 * 	homepage:	http://www.hunandali.com/
 *
 * ------------------------------------------------------------
 */

import Head, { type Props as IHead } from './Head.astro';
import type { IPropsBase } from '../types';
import { PropsUpdate } from '../libs';
import type { Dict } from '@da.li/core-libs';

export interface Props extends IHead, IPropsBase {
	htmlAttrs?: Dict<string>;
	bodyAttrs?: Dict<string>;
}

// 从 cookie 中获取主题设置
const isDark = Astro.cookies.get('theme')?.value === 'dark';

const { htmlAttrs = {}, bodyAttrs = {}, ...props } = Astro.props;
const [propsBody, propsHead] = PropsUpdate(props);
const propsHtml = {
	...htmlAttrs,
	'data-bs-theme': isDark ? 'dark' : undefined
};
---

<!doctype html>
<html lang="zh" {...propsHtml}>
	<Head {...propsHead as IHead} />
	<body {...propsBody} {...bodyAttrs}><slot /></body>
</html>
