---
/**
 *	LayoutVertical 左侧竖直菜单模板
 *
 * ------------------------------------------------------------
 *
 * 	Copyright © 2024 湖南大沥网络科技有限公司.
 *
 * 	  author:	木炭(WOODCOAL)
 * 	   email:	i@woodcoal.cn
 * 	homepage:	http://www.hunandali.com/
 *
 * ------------------------------------------------------------
 */

import LayoutBase, { type Props as IBase } from './LayoutBase.astro';
import Layout, { type Props as ILayout } from './PageLayout.astro';
import Header, { type Props as IHeader } from './PageHeader.astro';
import Footer from './PageFooter.astro';
import Icon from '../components/Icon.astro';
import type { ILink, ISize, IThemeFull } from '../types';
import Navbar, { type Props as INavbar } from '../components/Navbar/index.astro';
import type { NavbarItem } from '../components/Navbar/menus.astro';
import PageTheme from './PageTheme.astro';

export interface Props extends IBase, IHeader {
	/** 导航栏品牌/标题 */
	brand?: ILink;

	/** 导航菜单 */
	menus?: NavbarItem[];

	/** 移动菜单模式：ture 左侧滑出，false 顶部弹出 */
	mobileAppMenu?: boolean;

	/** 导航栏颜色主题 */
	theme?: IThemeFull;

	/** 是否整个页面宽度 */
	size?: ISize | 'xxl' | 'fluid' | 'auto';

	/** 布局类型 */
	// layout?: 'horizontal' | 'vertical';

	/** 页脚链接 */
	footerLinks?: ILink[];

	/** 开启警告区域（默认开启） */
	alertContainer?: boolean;

	/**
	 * 页面常用布局模式。参数优先级最高，影响导航栏、页脚、内容等布局。
	 *
	 * - `vertical` 左侧菜单，内容固定 https://preview.tabler.io/layout-vertical.html
	 *
	 */
	mode?:
		| 'default'
		| 'boxed'
		| string
		| 'fluid'
		| 'transparent'
		| 'vertical'
		| 'fluid-vertical'
		| 'transparent-vertical'
		| 'navbar-overlap';
}

const {
	brand,
	menus,
	theme,
	size = 'lg',
	mode = '',
	mobileAppMenu = false,
	alertContainer = true,
	footerLinks,
	...props
} = Astro.props;

/** 导航属性 */
const navProps = {
	brand,
	items: menus,
	theme,
	layout: 'horizontal',
	size,
	transparent: false,
	mobileAppMenu,
	expand: 'lg'
} as INavbar;

const headerProps = {
	title: props.title,
	description: props.description,
	subtitle: props.subtitle,
	size,
	overlayer: false
} as IHeader;

const layoutProps = { size, class: '' } as ILayout;
const pageProps = { ...props, class: '' } as IBase;

/** 宽度 */
let pageSize = size;

if (mode === 'boxed') {
	pageSize = 'lg';
	navProps.layout = 'multiple';
	navProps.mobileAppMenu = true;
	layoutProps.class = 'container-lg';
	pageProps.class = 'boxed';
} else {
	if (mode.includes('fluid')) {
		pageSize = 'fluid';
	}

	if (mode.includes('vertical')) {
		navProps.layout = 'vertical';
		!theme && (navProps.theme = 'dark');
	}

	if (mode.includes('overlap')) {
		navProps.layout = 'horizontal';
		!theme && (navProps.theme = 'dark');

		headerProps.overlayer = 'fixed';
		headerProps.theme = theme || 'dark';
	}

	if (mode.includes('multiple')) {
		navProps.layout = 'multiple';
	}
	if (mode.includes('transparent')) {
		navProps.transparent = true;
	}
}

/** 页面宽度布局 */
const containerClass = pageSize && pageSize !== 'auto' ? `container-${pageSize}` : 'container';

navProps.size = pageSize;
headerProps.size = pageSize;
layoutProps.size = pageSize;
---

<LayoutBase {...pageProps} }>
	<Layout {...layoutProps}>
		<!-- 头部 -->
		<slot slot="top" name="top">
			<Navbar {...navProps}>
				<slot name="navStart" slot="navStart" />
				<slot name="navEnd" slot="navEnd" />
				<slot name="navAction">
					<PageTheme mode="icon" />
				</slot>
			</Navbar>
		</slot>

		<!-- 警告 -->
		{
			alertContainer && (
				<div class="bg-secondary-lt" slot="header">
					<div class={containerClass}>
						<div class="alert-container" />
					</div>
				</div>
			)
		}

		<!-- 页眉 -->
		<slot slot="header" name="header">
			<Header {...headerProps} />
		</slot>

		<!-- 内容 -->
		<slot />

		<!-- 页脚 -->
		<slot name="footer" slot="footer">
			<Footer links={footerLinks} size={pageSize} transparent>
				<span slot="linkSuffix">
					Made with <Icon icon="ri:hearts-fill" theme="danger" /> in China.
				</span>
			</Footer>
		</slot>

		<!-- 底部 -->
		<slot slot="bottom" name="bottom" />
	</Layout>
</LayoutBase>

<style lang="less" is:global>
	body.boxed {
		background: #1f2937 linear-gradient(to right, rgba(255, 255, 255, 0.1), transparent) fixed;
		height: auto;

		.page {
			background-color: var(--tblr-body-bg);
			padding: 0;

			.navbar {
				border-radius: var(--tblr-border-radius) var(--tblr-border-radius) 0 0;
			}

			@media screen and (min-width: 992px) {
				border-radius: var(--tblr-border-radius);
			}
		}
	}

	@media (min-width: 768px) {
		.navbar-expand-md {
			flex-wrap: nowrap;
			justify-content: flex-start;
		}
	}
</style>
