---
/**
 * 	PageLayout 基础页面布局
 *
 * ------------------------------------------------------------
 *
 * 	Copyright © 2024 湖南大沥网络科技有限公司.
 *
 * 	  author:	木炭(WOODCOAL)
 * 	   email:	i@woodcoal.cn
 * 	homepage:	http://www.hunandali.com/
 *
 * ------------------------------------------------------------
 */

import { ClassClear } from '../libs';
import type { ISize } from '../types';

export interface Props {
	/** 是否整个页面宽度 */
	size?: ISize | 'xxl' | 'fluid' | 'auto';

	/** 布局类型 */
	layout?: 'horizontal' | 'vertical';

	/** 导航栏主题(默认: dark) */
	navTheme?: 'light' | 'dark';

	/** 自定义导航栏类名 */
	navClass?: string;
}

const {
	layout = 'horizontal',
	size = 'auto',
	navTheme = 'dark',
	navClass,
	...props
} = Astro.props as Props;

/** 页面宽度布局 */
const containerClass = size && size !== 'auto' ? `container-${size}` : 'container';

/** 导航栏 */
const navbarClass = ClassClear([
	'navbar',
	layout === 'vertical' ? 'navbar-vertical navbar-expand-sm' : 'navbar-expand-md',
	navClass
]);
const navbarContainerClass = layout === 'vertical' ? 'container-fluid' : navbarClass;
const Navbar = layout === 'vertical' ? 'aside' : 'nav';
---

<div class="page" {...props}>
	{
		Astro.slots.has('navbar') && (
			<Navbar class={navbarClass} data-bs-theme={navTheme === 'dark' ? 'dark' : undefined}>
				<div class={navbarContainerClass}>
					<slot name="navbar" />
				</div>
			</Navbar>
		)
	}

	<slot name="top" />

	<div class="page-wrapper">
		<slot name="header" />

		<div class="page-body">
			<div class={containerClass}>
				<slot />
			</div>
		</div>

		<slot name="footer" />
	</div>

	<slot name="bottom" />
</div>
