---
/**
 * 	PageLayout 基础页面布局
 *
 * ------------------------------------------------------------
 *
 * 	Copyright © 2024 湖南大沥网络科技有限公司.
 *
 * 	  author:	木炭(WOODCOAL)
 * 	   email:	i@woodcoal.cn
 * 	homepage:	http://www.hunandali.com/
 *
 * ------------------------------------------------------------
 *  Slots:
 * 		top		顶部, 导航菜单,根据菜单布局不同页面布局也不同
 * 		header	头部, 页面标题, 面包屑导航
 * 		default	默认, 内容
 * 		footer	底部, 页脚
 * 		bottom	底部, 其他页面数据
 */

import { ClassClear } from '../libs';
import type { ISize } from '../types';

export interface Props {
	/** 是否整个页面宽度 */
	size?: ISize | 'xxl' | 'fluid' | 'auto';

	/** 自定义样式 */
	class?: string;
}

const { size = 'auto', class: className, ...props } = Astro.props as Props;

/** 页面宽度布局 */
const containerClass = size && size !== 'auto' ? `container-${size}` : 'container';
const classList = ClassClear(['page', className]);
---

<div class={classList} {...props}>
	<slot name="top" />

	<div class="page-wrapper">
		<slot name="header" />

		<div class="page-body">
			<div class={containerClass}>
				<slot />
			</div>
		</div>

		<slot name="footer" />
	</div>

	<slot name="bottom" />
</div>
