---
import Layout from '../layouts/Demo.astro';
import Empty from '../components/Empty.astro';
---

<Layout pretitle="大沥网络" title="基础组件演示">
	<div class="h-600">
		<Empty title="演示数据" />
	</div>
</Layout>
