/*
' ------------------------------------------------------------
'
' 	Copyright © 2022 湖南大沥网络科技有限公司.
'
' 	  author:	木炭(WOODCOAL)
' 	   email:	i@woodcoal.cn
' 	homepage:	http://www.hunandali.com/
'
' ------------------------------------------------------------
'
' 	基础图标库
'
' 	name: theme.iconfont.icon
' 	create: 2024-03-21
' 	memo: 基础图标库
' 	
' ------------------------------------------------------------
*/

@font-face {
	font-family: 'icons';
	src: url('./icons.woff2') format('woff2');
	font-display: swap;
}

.icon,
[class^='icon-'],
[class*=' icon-'] {
	font-family: 'icons' !important;
	font-style: normal;
	text-align: center;
	display: inline-block;
	font-variant: normal;
	text-rendering: auto;
	margin: auto 0.25rem;
	text-decoration: none;
	line-height: 1;
	font-weight: normal !important;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lg {
	font-size: 1.33333rem;
	line-height: 0.75rem;
	vertical-align: -0.0667rem;
}

.icon-xs {
	font-size: 0.75rem;
}

.icon-sm {
	font-size: 0.875rem;
}

.icon-1x {
	font-size: 1rem;
}

.icon-2x {
	font-size: 2rem;
}

.icon-3x {
	font-size: 3rem;
}

.icon-4x {
	font-size: 4rem;
}

.icon-5x {
	font-size: 5rem;
}

.icon-6x {
	font-size: 6rem;
}

.icon-7x {
	font-size: 7rem;
}

.icon-8x {
	font-size: 8rem;
}

.icon-9x {
	font-size: 9rem;
}

.icon-10x {
	font-size: 10rem;
}

.icon-fw {
	text-align: center;
	width: 1.25rem;
}

.icon-ul {
	list-style-type: none;
	margin-left: 2.5rem;
	padding-left: 0;
}

.icon-ul > li {
	position: relative;
}

.icon-li {
	left: -2rem;
	position: absolute;
	text-align: center;
	width: 2rem;
	line-height: inherit;
}

.icon-border {
	border: solid 0.08em #eee;
	border-radius: 0.1rem;
	padding: 0.2em 0.25em 0.15rem;
}

.icon-pull-left {
	float: left;
}

.icon-pull-right {
	float: right;
}

.icon.icon-pull-left {
	margin-right: 0.3rem;
}

.icon.icon-pull-right {
	margin-left: 0.3rem;
}

.icon-spin {
	-webkit-animation: icon-spin 2s infinite linear;
	animation: icon-spin 2s infinite linear;
}

.icon-pulse {
	-webkit-animation: icon-spin 1s infinite steps(8);
	animation: icon-spin 1s infinite steps(8);
}

@-webkit-keyframes icon-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes icon-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.icon-rotate-90 {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.icon-rotate-180 {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.icon-rotate-270 {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

.icon-flip-horizontal {
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.icon-flip-vertical {
	-webkit-transform: scale(1, -1);
	transform: scale(1, -1);
}

.icon-flip-both,
.icon-flip-horizontal.icon-flip-vertical {
	-webkit-transform: scale(-1, -1);
	transform: scale(-1, -1);
}

:root .icon-rotate-90,
:root .icon-rotate-180,
:root .icon-rotate-270,
:root .icon-flip-horizontal,
:root .icon-flip-vertical,
:root .icon-flip-both {
	-webkit-filter: none;
	filter: none;
}

.icon-stack {
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	position: relative;
	vertical-align: middle;
	width: 2.5rem;
}

.icon-stack-1x,
.icon-stack-2x {
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.icon-stack-1x {
	line-height: inherit;
}

.icon-stack-2x {
	font-size: 2rem;
}

.icon-inverse {
	color: #fff;
}

/* ------------------------------------ */

.icon-:before {
	content: '\ffff';
}

.icon-eye:before {
	content: '\e64e';
}

.icon-eye-slash:before {
	content: '\e66b';
}

.icon-more:before {
	content: '\591a';
}

.icon-sms-fill:before {
	content: '\606f';
}

.icon-sms:before {
	content: '\4fe1';
}

.icon-disabled:before {
	content: '\7981';
}

.icon-tax:before {
	content: '\7a0e';
}

.icon-tax-2:before {
	content: '\25a3';
}

.icon-tax-1:before {
	content: '\ffe5';
}

.icon-line:before {
	content: '\2796';
}

.icon-qr:before {
	content: '\e671';
}

.icon-arrow:before {
	content: '\21f5';
}

.icon-arrow-up:before {
	content: '\2191';
}

.icon-arrow-down:before {
	content: '\2193';
}

.icon-go-none:before {
	content: '\21ff';
}

.icon-go-top:before {
	content: '\21e1';
}

.icon-go-bottom:before {
	content: '\21e3';
}

.icon-copyright:before {
	content: '\7248';
}

.icon-bottom:before {
	content: '\4e0b';
}

.icon-top:before {
	content: '\4e0a';
}

.icon-right:before {
	content: '\53f3';
}

.icon-left:before {
	content: '\5de6';
}

.icon-yes:before {
	content: '\662f';
}

.icon-no:before {
	content: '\5426';
}

.icon-weixin:before {
	content: '\e66a';
}

.icon-star:before {
	content: '\e669';
}

.icon-heart-fav:before {
	content: '\e739';
}

.icon-heart-add:before {
	content: '\e663';
}

.icon-heart:before {
	content: '\e616';
}

.icon-square:before {
	content: '\e77d';
}

.icon-square-dotted:before {
	content: '\e77f';
}

.icon-checkbox:before {
	content: '\e662';
}

.icon-xiadie:before {
	content: '\e668';
}

.icon-chiping:before {
	content: '\e666';
}

.icon-shangzhang:before {
	content: '\e667';
}

.icon-go:before {
	content: '\e665';
}

.icon-go-down:before {
	content: '\e664';
}

.icon-go-up:before {
	content: '\e602';
}

.icon-android:before {
	content: '\e733';
}

.icon-apple:before {
	content: '\e732';
}

.icon-windows:before {
	content: '\e655';
}

.icon-bank:before {
	content: '\e944';
}

.icon-order:before {
	content: '\e79c';
}

.icon-favor:before {
	content: '\e7f2';
}

.icon-coupon:before {
	content: '\ea05';
}

.icon-talk:before {
	content: '\eac8';
}

.icon-power:before {
	content: '\ee2c';
}

.icon-education:before {
	content: '\e8f6';
}

.icon-password:before {
	content: '\e660';
}

.icon-parameter:before {
	content: '\e65f';
}

.icon-page:before {
	content: '\e7de';
}

.icon-permission:before {
	content: '\e661';
}

.icon-address:before {
	content: '\e65e';
}

.icon-message:before {
	content: '\e7be';
}

.icon-shopping:before {
	content: '\e787';
}

.icon-comment:before {
	content: '\ecc1';
}

.icon-datas:before {
	content: '\eaf2';
}

.icon-history:before {
	content: '\eaad';
}

.icon-result:before {
	content: '\e7e4';
}

.icon-high:before {
	content: '\e658';
}

.icon-flat:before {
	content: '\e659';
}

.icon-low:before {
	content: '\e65a';
}

.icon-medium:before {
	content: '\e65b';
}

.icon-up:before {
	content: '\e65c';
}

.icon-down:before {
	content: '\e65d';
}

.icon-wechatpay:before {
	content: '\e689';
}

.icon-zhifubao:before {
	content: '\e68a';
}

.icon-touchid:before {
	content: '\e6c7';
}

.icon-id-vip:before {
	content: '\e6ec';
}

.icon-id:before {
	content: '\e64b';
}

.icon-id-manage:before {
	content: '\e64a';
}

.icon-users:before {
	content: '\e654';
}

.icon-user-manage:before {
	content: '\e640';
}

.icon-user-at:before {
	content: '\e657';
}

.icon-user-locked:before {
	content: '\e653';
}

.icon-user-search:before {
	content: '\e649';
}

.icon-user-add:before {
	content: '\e647';
}

.icon-user:before {
	content: '\e648';
}

.icon-book:before {
	content: '\e656';
}

.icon-circle-down:before {
	content: '\e7ae';
}

.icon-circle-up:before {
	content: '\e7ad';
}

.icon-seal:before {
	content: '\7ae0';
}

.icon-signet:before {
	content: '\e63e';
}

.icon-sign:before {
	content: '\e63d';
}

.icon-folder:before {
	content: '\e646';
}

.icon-blank:before {
	content: '\e652';
}

.icon-cloud-rain:before {
	content: '\e651';
}

.icon-cloud-sun:before {
	content: '\e650';
}

.icon-cloud:before {
	content: '\e64f';
}

.icon-sun1:before {
	content: '\e64e';
}

.icon-cloud-flash:before {
	content: '\e64d';
}

.icon-cloud-question:before {
	content: '\e64c';
}

.icon-debug:before {
	content: '\e645';
}

.icon-path:before {
	content: '\e644';
}

.icon-position:before {
	content: '\e643';
}

.icon-template:before {
	content: '\e642';
}

.icon-alert:before {
	content: '\e641';
}

.icon-var:before {
	content: '\e7ab';
}

.icon-menu:before {
	content: '\e7ac';
}

.icon-card:before {
	content: '\e7b7';
}

.icon-apps:before {
	content: '\e7b8';
}

.icon-bars:before {
	content: '\e7b9';
}

.icon-money:before {
	content: '\e63f';
}

.icon-tv:before {
	content: '\e759';
}

.icon-monitor:before {
	content: '\e63c';
}

.icon-cart:before {
	content: '\e63b';
}

.icon-bus:before {
	content: '\e63a';
}

.icon-plane:before {
	content: '\e639';
}

.icon-car:before {
	content: '\e638';
}

.icon-mobilephone:before {
	content: '\e637';
}

.icon-tubularis:before {
	content: '\e636';
}

.icon-telephone:before {
	content: '\e729';
}

.icon-bag:before {
	content: '\e72b';
}

.icon-box:before {
	content: '\e635';
}

.icon-watchs:before {
	content: '\e634';
}

.icon-build:before {
	content: '\e631';
}

.icon-hammer:before {
	content: '\e630';
}

.icon-microphone:before {
	content: '\e62f';
}

.icon-keyboard:before {
	content: '\e62e';
}

.icon-number:before {
	content: '\e6dd';
}

.icon-dialog:before {
	content: '\e62d';
}

.icon-document:before {
	content: '\e62b';
}

.icon-mail:before {
	content: '\e62c';
}

.icon-home:before {
	content: '\e62a';
}

.icon-location:before {
	content: '\e629';
}

.icon-tag:before {
	content: '\e628';
}

.icon-news:before {
	content: '\e627';
}

.icon-input:before {
	content: '\e626';
}

.icon-group:before {
	content: '\e625';
}

.icon-richtext:before {
	content: '\e624';
}

.icon-progress:before {
	content: '\e623';
}

.icon-list:before {
	content: '\e622';
}

.icon-filter:before {
	content: '\e621';
}

.icon-tooltip:before {
	content: '\e620';
}

.icon-smill:before {
	content: '\e61f';
}

.icon-cry:before {
	content: '\e61e';
}

.icon-load:before {
	content: '\e6cb';
}

.icon-column:before {
	content: '\e6ce';
}

.icon-camera:before {
	content: '\e61d';
}

.icon-date:before {
	content: '\e672';
}

.icon-calendar:before {
	content: '\e61c';
}

.icon-music:before {
	content: '\e61b';
}

.icon-movie:before {
	content: '\e681';
}

.icon-image-upload:before {
	content: '\e6bd';
}

.icon-timeline:before {
	content: '\e6b8';
}

.icon-treeselect:before {
	content: '\e6ba';
}

.icon-matrix:before {
	content: '\e6bb';
}

.icon-numberinput:before {
	content: '\e6bc';
}

.icon-case:before {
	content: '\e6ed';
}

.icon-earth:before {
	content: '\e61a';
}

.icon-database:before {
	content: '\e619';
}

.icon-role:before {
	content: '\e618';
}

.icon-at:before {
	content: '\e617';
}

.icon-phone-empty:before {
	content: '\e72a';
}

.icon-read:before {
	content: '\e736';
}

.icon-english:before {
	content: '\e615';
}

.icon-chinese:before {
	content: '\e614';
}

.icon-unlock:before {
	content: '\e612';
}

.icon-bell:before {
	content: '\e740';
}

.icon-shop:before {
	content: '\e748';
}

.icon-phone:before {
	content: '\e75a';
}

.icon-login:before {
	content: '\e611';
}

.icon-publish:before {
	content: '\e7a1';
}

.icon-clock:before {
	content: '\e610';
}

.icon-rule:before {
	content: '\e60f';
}

.icon-chart-table:before {
	content: '\e60e';
}

.icon-chart-pie:before {
	content: '\e60d';
}

.icon-chart-flow:before {
	content: '\e60c';
}

.icon-chart-bar:before {
	content: '\e60b';
}

.icon-dash:before {
	content: '\e60a';
}

.icon-chart-line:before {
	content: '\e609';
}

.icon-chart-radar:before {
	content: '\e608';
}

.icon-chart-funnel:before {
	content: '\e607';
}

.icon-clear:before {
	content: '\6e05';
}

.icon-pause:before {
	content: '\6682';
}

.icon-stop:before {
	content: '\505c';
}

.icon-play:before {
	content: '\64ad';
}

.icon-add:before {
	content: '\52a0';
}

.icon-edit:before {
	content: '\6539';
}

.icon-delete:before {
	content: '\5220';
}

.icon-detail:before {
	content: '\770b';
}

.icon-save:before {
	content: '\5b58';
}

.icon-new:before {
	content: '\65b0';
}

.icon-remove:before {
	content: '\5e9f';
}

.icon-refresh:before {
	content: '\5237';
}

.icon-print:before {
	content: '\5370';
}

.icon-setting:before {
	content: '\e613';
}

.icon-desc:before {
	content: '\964d';
}

.icon-asc:before {
	content: '\5347';
}

.icon-search:before {
	content: '\641c';
}

.icon-exit:before {
	content: '\9000';
}

.icon-outlink:before {
	content: '\94fe';
}

.icon-screen-full:before {
	content: '\e606';
}

.icon-screen-small:before {
	content: '\e778';
}

.icon-file:before {
	content: '\e605';
}

.icon-link:before {
	content: '\e604';
}

.icon-image:before {
	content: '\e6be';
}

.icon-code:before {
	content: '\e603';
}

.icon-display:before {
	content: '\e601';
}

.icon-laptop:before {
	content: '\e600';
}

.icon-mobile:before {
	content: '\e7af';
}

.icon-success:before {
	content: '\2713';
}

.icon-fail:before {
	content: '\2717';
}

.icon-warn:before {
	content: '\ff01';
}

.icon-question:before {
	content: '\ff1f';
}

.icon-info:before {
	content: '\ff49';
}

.icon-sun:before {
	content: '\e632';
}

.icon-moon:before {
	content: '\e633';
}

.icon-switch:before {
	content: '\e6b0';
}

.icon-copy:before {
	content: '\590d';
}

.icon-cut:before {
	content: '\526a';
}

.icon-paste:before {
	content: '\7c98';
}

.icon-lock:before {
	content: '\9501';
}

.icon-warning:before {
	content: '\21';
}

.icon-information:before {
	content: '\69';
}

.icon-succ:before {
	content: '\221a';
}

.icon-error:before {
	content: '\274c';
}

.icon-questions:before {
	content: '\3f';
}

.icon-like:before {
	content: '\8d5e';
}

.icon-back:before {
	content: '\e66c';
}

.icon-plus:before {
	content: '\2b';
}

.icon-subtract:before {
	content: '\2d';
}
